h2{
    color:blue
}
.container{
    width: 980px;
    margin:auto;
}
.text{
    font-size: 60px;
}
.textColor1{
    color:#333333
}
.textColor2{
    color: #FFAD5A;
}
.border{
    border-left: 5px solid #F96668;
}
.textContainer{
    margin-left: 1rem;
}
.flexibleContainer{
    display: flex;
}
.img{
    width: 480px;
    height: 625px;
    padding-left: 2rem;
}
.Button{
    background-color: #F96668;
    color:#fff;
    border: 0px;
    padding: 10px 20px;

}
.buttonText{
    margin-top: 2rem;
}
.missionText{
    text-align: center;
}
.year2020{
    color:#FFAD5A
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap:10px
}
.box1{
    width: 360px;
    height: 376px;
    background-color: #EDF5F6;
    padding: 1rem;
    border-radius: 7%;
}
.box2{
    padding: 1rem;
    width: 360px;
    height: 376px;
    background-color: #FFEEEE;
      border-radius: 7%;
}
.box3{
    padding:1rem ;
    width: 360px;
    height: 376px;
    background-color: #FFF4D6;
      border-radius: 7%;
}
.logImg1{
    height: 141px;
    width: 141px;
}
.boxText1{
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.BoxContainer{
    padding: 1rem;
    padding-left: 2rem;
}
.flexItem{
    display: flex;
}
.BannerImg{
    height: 400px;
    width: 400px;
}
.develop{
    padding: .2rem;
    margin-left: 3rem;
}
.develop1{
    padding: .2rem;
    margin-left: 3rem;
    margin-top: 3rem;

}
.textDevelop{
    font-size: 45px;
    font-weight: bold;
}
.devButton{
    height: 48px;
    width: 227px;
    background-color: #F96668;
    color:#fff;
    border: 0px;
    border-radius: 2%;
}
.BannerImg1{
    margin-left: 4rem;
}

.BannerImg2{
    height: 542px;
    width: 330px;
}
.footer{
    text-align: center;
    height: 177px;
    background-color: #0B0D17;
    color:#fff
}